@font-face {
  font-family: 'Maqui';
  src: url('../assets/fonts/Maqui Hv.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maqui';
  src: url('../assets/fonts/Maqui Hv It.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Qunko';
  src: url('../assets/fonts/Qunko.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Editorial';
  src: url('../assets/fonts/DR Exclusive Editorial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
